<div class="sidebar">
  <div class="sidebar-logo">
    <img src="logo.png" alt="Connectopia">
    <h2>
      <span class="connec">Connec</span><span class="topia">topia</span>
    </h2>
  </div>
  <nav class="sidebar-menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <img src="../../../inicio.png" alt=""> Inicio
    </a>
    <a routerLink="/anuncios" routerLinkActive="active">
      <img src="../../../anuncios.png" alt=""> Anuncios
    </a>
    <a routerLink="/servicios" routerLinkActive="active">
      <img src="../../../servicios.png" alt=""> Servicios
    </a>
    <a routerLink="/turismo" routerLinkActive="active">
      <img src="../../../turismo.png" alt=""> Turismo
    </a>
    <a routerLink="/denuncias" routerLinkActive="active">
      <img src="../../../denuncias.png" alt=""> Denuncias
    </a>
    <a routerLink="/eventos" routerLinkActive="active">
      <img src="../../../eventos.png" alt=""> Eventos
    </a>
    <a routerLink="/mapa" routerLinkActive="active">
      <img src="../../../mapa.png" alt=""> Mapa
    </a>
    <a routerLink="/perfil" routerLinkActive="active">
      <img src="../../../perfil.png" alt=""> Perfil
    </a>
     <a routerLink="/mensajes" routerLinkActive="active">
      <img src="../../../mensajes.png" alt=""> Mensajes
    </a>

     <a routerLink="/notificaciones" routerLinkActive="active">
      <img src="../../../notificaciones.png" alt=""> Notificaciones
    </a>
    <a routerLink="/configuracion" routerLinkActive="active">
      <img src="../../../configuración.png" alt=""> Configuración
    </a>
  </nav>
</div>