.admin-layout {
  height: 100vh;
  display: flex;
  overflow: hidden;


  background:
    url('/blue.jpg')
    center
    center /
    cover
    no-repeat;

  background-attachment: fixed;
}

.admin-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.admin-page-content {
  margin-top: 20px;
}

